.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-shape-1 {
  width: 546px;
  left: 259px;
  right: auto;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 702px;
  height: 447px;
  animation-duration: 1000ms;
  object-position: 40.7% 50%;
  margin: 115px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 590px;
  min-height: 289px;
  background-image: none;
  margin: -367px -36px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.3;
  background-image: none;
  font-weight: 900;
  margin: 51px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    right: 192px;
  }

  .u-section-1 .u-group-1 {
    width: 513px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-shape-1 {
    width: 412px;
    left: 134px;
    right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 596px;
    height: 420px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -135px;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-shape-1 {
    left: 128px;
    right: 335px;
  }

  .u-section-1 .u-image-1 {
    width: 467px;
    height: 311px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 467px;
    margin-top: -78px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-shape-1 {
    width: 237px;
    height: 669px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -1px auto 0 27px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-top: -608px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
    min-height: 316px;
    margin-top: -30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 852px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 712px;
  animation-duration: 1000ms;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 712px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 50px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  line-height: 3;
  font-weight: 700;
  color: rgb(17, 17, 17) !important;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 587px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 40px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 466px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 709px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-text-1 {
  font-family: "Open Sans", sans-serif;
  margin: 179px 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 744px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 450px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 557px;
  height: 245px;
  margin: -12px -50px 0;
}

.u-section-4 .u-image-2 {
  width: 653px;
  height: 327px;
  margin: -1085px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: -375px 30px 526px 713px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 384px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 613px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 371px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    width: 374px;
    height: 165px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2423px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 1127px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 777px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1788px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 845px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 583px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 270px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -318px;
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 532px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 367px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 150px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 170px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -218px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/Ui1.PNG");
  min-height: 466px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 602px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 28px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 571px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 510px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 586px;
  height: 435px;
  margin: -68px auto 0 -90px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 384px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-5 .u-text-1 {
    font-family: "Open Sans", sans-serif;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 471px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 421px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    width: 407px;
    height: 302px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-5 .u-image-1 {
    min-height: 464px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 777px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-5 .u-image-1 {
    min-height: 348px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 583px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-image-1 {
    min-height: 219px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 367px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 252px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 433px;
  animation-duration: 1000ms;
  margin-top: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-image-1 {
  width: 328px;
  height: 369px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 433px;
  margin-top: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-top: 78px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 357px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 360px;
  }
}